{{formGroup.status}}
<br>
{{formGroup.controls.passwordGroup.status}}

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        *E-mail: <input formControlName="email" type="email" ><br>
    
    <div formGroupName="passwordGroup">
        *Password: <input formControlName="password" type="password" (ngModelChange)="onPass()"><br>
        *confirmPassword: <input formControlName="confirmPassword" type="password" (ngModelChange)="onPass()">
    </div>

    *Nickname:<input formControlName="nickName" type="text"><br>
    *Phone Number:<input formControlName="phoneNumber" type="tel"><br>
    *Website:<input formControlName="website" type="url"><br>

    <input [disabled]="true" (click)="onCheckbox()" [checked]="isChecked" type="checkbox" formControlName="checkbox" > I have read read agreement



    <!-- <button [disabled]="submitDisabled" type="button" (click)="onSubmit()">Register</button> -->
    <button [disabled]="submitDisabled" type="submit">Register</button>

</form>

<app-registered-users (indexToEdit)="getIndex($event)"></app-registered-users>